﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="eBILL.UI.Login" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <!-- Required meta tags-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="au theme template" />
    <meta name="author" content="Hau Nguyen" />
    <meta name="keywords" content="au theme template" />

    <!-- Title Page-->
    <title>Login</title>

    <!-- Fontfaces CSS-->
    <link href="../css/font-face.css" rel="stylesheet" media="all" />
    <link href="../vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all" />
    <link href="../vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all" />
    <link href="../vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all" />

    <!-- Bootstrap CSS-->
    <link href="../vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" />

    <!-- Vendor CSS-->
    <link href="../vendor/animsition/animsition.min.css" rel="stylesheet" />
    <link href="../vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all" />
    <link href="../vendor/wow/animate.css" rel="stylesheet" media="all" />
    <link href="../vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all" />
    <link href="../vendor/slick/slick.css" rel="stylesheet" media="all" />
    <link href="../vendor/select2/select2.min.css" rel="stylesheet" media="all" />
    <link href="../vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all" />

    <!-- Main CSS-->
    <link href="../css/theme.css" rel="stylesheet" media="all" />
</head>
<body class="animsition">
    <form id="form1" runat="server" method="post">
        <div class="page-wrapper">
            <div class="page-content--bge5">
                <div class="container">
                    <div class="login-wrap">
                        <div class="login-content">
                            <div class="login-logo">
                                <a href="#">
                                    <img src="../images/icon/logo.png" alt="CoolAdmin" />
                                </a>
                            </div>
                            <div class="login-form">
                                <div class="form-group">
                                    <label>User Name</label>
                                    <asp:TextBox ID="txtUser" AutoPostBack="true" OnTextChanged="txtUser_TextChanged" runat="server" class="au-input au-input--full" type="User" name="User" placeholder="User Name"></asp:TextBox>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <asp:TextBox runat="server" ID="txtPassword" class="au-input au-input--full" type="password" name="password" placeholder="Password"></asp:TextBox>
                                </div>
                                <div class="form-group">
                                    <label>FY</label>
                                    <asp:DropDownList ID="ddlFY" runat="server" class="au-input au-input--full" DataSourceID="sqlFyId" DataValueField="intFYID" DataTextField="strDisplayFY">
                                    </asp:DropDownList>
                                    <asp:SqlDataSource runat="server" ID="sqlFyId" ConnectionString="Dynamic" SelectCommand="GetFYIdForLoginDetails"
                                        SelectCommandType="StoredProcedure" ProviderName="System.Data.SqlClient"></asp:SqlDataSource>
                                </div>
                                <div class="form-group" id="divCompany" runat="server" visible="false">
                                    <asp:Button ID="BtnCompanyOK" runat="server" OnClick="BtnCompanyOK_Click" Text="OK" />
                                    <asp:DropDownList ID="ddlProfit" runat="server" SkinID="DDLSkinLogin"></asp:DropDownList>
                                    <asp:TextBox ID="TxtCompanyID" runat="server"></asp:TextBox>
                                    <asp:TextBox ID="TxtCompanyPassword" runat="server"></asp:TextBox>
                                </div>
                            <div class="login-checkbox">
                                <label>
                                    <input type="checkbox" name="remember" />Remember Me
                                   
                                </label>
                                <label>
                                    <a href="#">Forgotten Password?</a>
                                </label>
                            </div>
                            <asp:Button ID="btnLogin" runat="server" class="au-btn au-btn--block au-btn--green m-b-20" Text="Log In" OnClick="btnLogin_Click" />
                            <%--<button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">sign in</button>--%>
                            <%--<div class="social-login-content">
                                    <div class="social-button">
                                        <button class="au-btn au-btn--block au-btn--blue m-b-20">sign in with facebook</button>
                                        <button class="au-btn au-btn--block au-btn--blue2">sign in with twitter</button>
                                    </div>
                                </div>
                                <div class="register-link">
                                    <p>
                                        Don't you have account?
                                        <a href="#">Sign Up Here</a>
                                    </p>
                                </div>--%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <asp:HiddenField ID="HIDCompanyID" runat="server" />
        </div>
    </form>
    <!-- Jquery JS-->
    <script src="../vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="../vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="../vendor/bootstrap-4.1/bootstrap.min.js"></script>

    <!-- Vendor JS       -->
    <script src="../vendor/slick/slick.min.js">
    </script>
    <script src="../vendor/wow/wow.min.js"></script>
    <script src="../vendor/animsition/animsition.min.js"></script>
    <script src="../vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="../vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="../vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="../vendor/circle-progress/circle-progress.min.js"></script>
    <script src="../vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="../vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="../js/main.js"></script>

</body>
</html>
