﻿

.sidebarleft
{
	height: 70%;
	width: 3%; 
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0; /*background-color: #C36;*/
	background-color: rgb(76,175,174);
	overflow-x: hidden;
	overflow-y: hidden;
	padding-top: 5%;
	transition: 0.5s;
	margin-top: 10%;
	margin-bottom: 10%;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
}

.sidebarright
{
	height: 70%;
	width: 3%;
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	background-color: rgb(76,175,174);
	overflow-x: hidden;
	overflow-y: hidden;
	padding-top: 5%;
	transition: 0.5s;
	margin-top: 10%;
	margin-bottom: 10%;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}

.rightheader
{
	height: 130%;
	width: 40px;
	float: right;
	right: 0px;
	font-size: 16px;
	color: #FFF;
	margin: -80px 0px 60px 100px;
}

.leftheader
{
	height: 130%;
	width: 40px;
	float: left;
	left: 0px;
	font-size: 16px;
	color: #FFF;
	margin: -80px 100px 60px 0px;
}
.rightheaderAfterOpen
{
	height: 130%;
	width: 40px;
	float: right;
	right: 0px;
	margin-top: -88px;
	margin-left: 100px;
	margin-bottom: 10px;
	margin-right: 0px;
	font-size: 16px;
	color: White;
}

.leftheaderAfterOpen
{
	height: 130%;
	width: 40px;
	float: left;
	left: 0px;
	margin-top: -73px;
	margin-left: 0px;
	margin-bottom: 10px;
	margin-right: 100px;
	font-size: 16px;
	color: White;
}



.sidebarleft a
{
	padding: 8px 8px 8px 8px;
	text-decoration: none;
	font-size: 11px;
	color: #f1f1f1;
	display: block;
	transition: 0.3s;
}

.sidebarright a
{
	padding: 8px 8px 8px 8px;
	text-decoration: none;
	font-size: 11px;
	color: #f1f1f1;
	display: block;
	transition: 0.3s;
}


.sidebarleft a:hover
{
	color: black;
}

.sidebarright a:hover
{
	color: black;
}

.ulheading
{
	color: #f1f1f1;
	font-size: 16px; /*font-family:Verdana ;*/
	line-height: 12px;
}



.ulheading grandchildli
{
	font-family: Verdana;
	font-size: 8px;
	color: #f2f2f2;
}

.sidebarleft li a i.toggle-up
{
	display: none !important;
}


.closebtn
{
	position: absolute; 
	top: 0;
	right: 25px;
	font-size: 30px !important;
	margin-left: 50px;
}


.sidebarInnerMenuDiv
{
	width: 97.5%;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	height: 90%;
	margin-left: -35px;
	margin-top: -50px;
	padding-right: 15px;
}

.sidebarInnerMenuDivRight
{
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	height: 90%;
	margin-right: -35px;
	margin-top: -50px;
	padding-right: 15px;
}

#leftsideInnerMenuDiv::-webkit-scrollbar-thumb
{
	background-color: #B03C3F;
	border-radius: 10px;
}

#leftsideInnerMenuDiv::-webkit-scrollbar-thumb:hover
{
	background-color: #C36;
	border: 1px solid #333333;
}

#leftsideInnerMenuDiv::webkit-scrollbar-thumb:active
{
	background-color: #A6393D;
	border: 1px solid #333333;
}

#leftsideInnerMenuDiv::-webkit-scrollbar-track
{
	border: 1px gray solid;
	border-radius: 10px;
	-webkit-box-shadow: 0 6px gary inset;
}
