﻿.RadGrid_Office2007, .RadGrid_Office2007 .rgMasterTable, .RadGrid_Office2007 .rgDetailTable, .RadGrid_Office2007 .rgGroupPanel table, .RadGrid_Office2007 .rgCommandRow table, .RadGrid_Office2007 .rgEditForm table, .RadGrid_Office2007 .rgPager table, .GridToolTip_Office2007 {
font-size:13px/16px !important;}


.table_design { border:0!important;}

.table_design th {
    background: #b3d8fe none repeat scroll 0 0 !important;
    border-bottom: 1px solid #33b8fe !important;
    border-color: #33b8fe !important;
    color: #0c6594 !important;
    font-size: 14px;
    padding: 5px 8px !important;
}

.table_design th a {
    color: #0c6594 !important;
}

.table_design .rgRow {
    background: #eff7ff none repeat scroll 0 0 !important;
}

.table_design .rgAltRow {
    background: #f8fdf4 none repeat scroll 0 0 !important;
}

.table_design tr:hover {
    background: #faf0bf none repeat scroll 0 0 !important;
    color: #1c73cd;
}

/*line 3614*/
.table_design td {
    border-color: #d3f0fe !important;
    padding: 4px 7px !important;
}
.RadGrid_Office2007 {
    border-color: #d3f0fe !important;
}
.RadGrid_Office2007 .rgFilterBox {
    border-color: #bbe0f1;
    color: #743b14;
    font: 12px "segoe ui",arial,sans-serif;
	}
    
.RadGrid_Office2007 .rgFilterRow { background:none !important;}
.RadGrid_Office2007 .rgSelectedRow{background:#E8E8E8!important; }
.RadGrid_Office2007 .rgSelectedRow td {border-left-width: 1px!important;}
.RadGrid_Office2007 .rgPager {
background: #D9EDF7!important;
color: #31708F!important;
}
.RadGrid_Office2007 .rgPager .rgStatus {border:0!important;}
.RadGrid_Office2007 td.rgPagerCell {border:0!important;}
.RadInput_Office2007 .riTextBox, html body .RadInputMgr_Office2007 {width:20px!important;}
.RadInput_Office2007 .riTextBox, html body .RadInputMgr_Office2007 {margin-top:-3px !important;}
.RadGrid .rgPager td{padding:3px 6px!important;}


