* {margin:0 auto; }

body {
line-height: 20px;
font-family: Calibri;
font-size: 13px;
color: #414141;
}

#container {
text-align: left;
margin: 0 auto;
width: 100%;
position: relative;
}

	
h2.error_title {
	font-size:20px;
	font-family:Calibri;
	font-weight:normal;
	color:#fff;
	padding: 8px 20px;
	border-radius: 8px 8px 0 0;
	background:#333;
	margin-bottom:10px;
}

.Error_box {  
	border:solid 1px #055dad;
	border-radius:10px;
	width:600px;
	margin:30px auto;
}

.Error_box  p { 
	clear:both;
	padding:8px 30px;
}
.Error_box  ul { padding:8px 30px; }
.Error_box .image { text-align:center;}
.Error_box .button{
border:1px solid #cacaca; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 2px 7px; text-decoration:none; display:inline-block;font-weight:bold; color: #333;
 background-color: #E6E6E6; background-image: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#CCCCCC));
 background-image: -webkit-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -moz-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -ms-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -o-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E6E6E6, endColorstr=#CCCCCC);
}

.button:hover{
 border:1px solid #b3b3b3;
 background-color: #cdcdcd; background-image: -webkit-gradient(linear, left top, left bottom, from(#cdcdcd), to(#b3b3b3));
 background-image: -webkit-linear-gradient(top, #cdcdcd, #b3b3b3);
 background-image: -moz-linear-gradient(top, #cdcdcd, #b3b3b3);
 background-image: -ms-linear-gradient(top, #cdcdcd, #b3b3b3);
 background-image: -o-linear-gradient(top, #cdcdcd, #b3b3b3);
 background-image: linear-gradient(to bottom, #cdcdcd, #b3b3b3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cdcdcd, endColorstr=#b3b3b3);
}

.error_head {width: 200px;}

	